<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_mvc_demo:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_Web_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_mvc_demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="javax.servlet.jsp.jstl-1.2.1" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/javax.servlet.jsp.jstl-1.2.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/javax.servlet.jsp.jstl-api-1.2.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-aop-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-aspects-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-beans-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-context-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-context-indexer-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-context-support-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-core-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-expression-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-instrument-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-jcl-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-jdbc-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-jms-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-messaging-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-orm-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-oxm-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-r2dbc-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-test-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-tx-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-web-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-webflux-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-webmvc-5.3.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-websocket-5.3.8.jar" />
          <element id="library" level="project" name="classmate-1.5.1" />
          <element id="library" level="project" name="hibernate-validator-6.2.3.Final" />
          <element id="library" level="project" name="annotations-api" />
          <element id="library" level="project" name="antlr-2.7.7" />
          <element id="library" level="project" name="mysql-connector-java-8.0.28" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_mvc_demo/web/Web" />
    </root>
  </artifact>
</component>